<div class="panel sidebar-menu">

    <div class="panel-heading">
        <h3 class="panel-title">Newsletter</h3>
    </div>

    <div class="panel-body">
        <form name="newsletter" netlify netlify-honeypot="bot-field">
            <p>Verpasse keine neuen Beiträge mehr, und erhalte exklusive Infos per Mail:</p>
            <div class="input-group">
                <input name="email" class="form-control" placeholder="E-Mail-Adresse">
                <input type="hidden" name="bot-field">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-template-main"><i class="fa fa-envelope"></i></button>
                </span>
            </div>
        </form>
    </div>
</div>