{{ if gt (len .Site.Data.features) 0 }}
<section class="bar background-pentagon no-mb" id="dassindwir">
    <div class="container">

        <div class="col-md-12">
        <a href="{{ .Site.BaseURL }}/blog/">
            <div class="heading text-center">
                <h2>Das Team hinter inspiritana.org:</h2>
            
            </div></a>
            <!-- *** BLOG HOMEPAGE *** -->

               
            <div class="row">
               
            
                <div class="col-md-6 col-sm-6">
                    <div class="box-image-text">
                        <div class="top">
                            <div class="image">
                                <img src="{{ .Site.BaseURL}}img/cale-avatar.png" class="img-responsive" alt="" >
                            </div>
                        </div>

                        <div class="content">
                            <h4>Cale, der Unkonventionelle</h4>
                            <p class="intro">{{ index .Site.Data.dassindwir.acale "description" | markdownify }} </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="box-image-text">
                        <div class="top">
                            <div class="image">
                                <img src="{{ .Site.BaseURL}}img/eddie-avatar.png" class="img-responsive" alt="" >
                            </div>
                        </div>

                        <div class="content">
                            <h4>Eddie, der Gemächliche</h4>
                            <p class="intro">{{ index .Site.Data.dassindwir.deddie "description" | markdownify }}</p>
                        </div>
                    </div>
                </div>
            <!-- /.row -->

            <!-- *** BLOG HOMEPAGE END *** -->

        </div>
    </div>
    <!-- /.container -->
</section>
{{ end }}
<!-- /.bar -->
