{{ if isset .Site.Params "features" }}
{{ if .Site.Params.features.enable }}
{{ if gt (len .Site.Data.features) 0 }}
<section class="bar background-pentagon no-mb" id="features">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            
                {{ range .Site.Data.features }}
                <div class="col-md-4">
                    <div class="box-simple">
                        <a href="{{ .link }}"><div class="icon">
                            <i class="fa fa-{{ .icon }}"></i>
                        </div></a>
                        <h3>{{ .name }}</h3>
                        <p>{{ .description }}</p>
                        <br/>
                        <p class="read-more">
                           <a href="{{ .link }}" class="btn btn-template-main">{{ .linktext }}</a>
                        </p>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
