<section class="featured no-mb">
    <div class="home-carousel">
        <div class="dark-mask"></div>
        <div class="container">
       <!-- {{ .Params.featuredimg }}
            <div class="homepage owl-carousel" style="background: url('{{ . }}')";>-->
            <div class="homepage owl-carousel">

               {{ range first 5 (where .Site.Pages "Params.featured" "!=" nil) }}
                <div class="item">
                    <div class="row">
                        <div class="col-sm-5 right">
                            <a href="{{ .Permalink }}"><h1>{{ .Title }}</h1></a>
                            <p class="subtitle">{{ .Params.subtitle }}</p>
                            <p class="read-more">
                              <a href="{{ .Permalink }}" class="btn btn-template-main">Weiterlesen</a>
                            </p>
                        </div>
                        <div class="col-sm-7">
                            <a href="{{ .Permalink }}">
                            {{ if isset .Params "banner" }}
                                  <img class="img-responsive img-featured" src="{{ .Site.BaseURL}}img/blog/{{ .Params.banner }}" alt="{{ .Title }}">
                            {{ else }}
                                  <img class="img-responsive img-featured" src="{{ .Site.BaseURL}}img/placeholder.png" alt="{{ .Title }}">
                            {{ end }}
                            </a>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            <!-- /.project owl-slider -->
        </div>
    </div>
</section>
