body { 
    padding-top: 70px;
}

#all {
  width: 100%;
}

/* NAVBAR */

.navbar {
  border-bottom: solid 2px #785828;
}

.navbar-header {
  height: 7vh;
}



.navbar-affixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  -webkit-box-shadow: 0 0 5px #785828;
  box-shadow: 0 0 5px #785828;
}

.navbar-default .navbar.nav > li > a {
  font-color: #ef8222;
}

.navbar ul.nav > li > a {
  text-transform: lowercase;
  font-size: 1.5em;
  text-decoration: none;
  font-weight: 400;
}

@media (max-width: 991px) {
  .navbar ul.nav > li > a {
    padding-right: 5px;
  }
}


.navbar ul.nav > li > a:hover {
  border-top: 5px solid transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #785828;
}

.navbar-default .navbar-nav > li:hover {
  border-top: none;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;
  color: #785828;
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
  font-weight: 600;
}

.navbar .navbar-buttons button {
  margin-right: 10px;
  color: #785828;
  line-height: 30px;
}

.navbar .navbar-buttons button:hover {
  background-color: rgba(0,0,0,0.2);
  border-color: #785828;
}


/* LOGO */

.navbar-brand {
  float: left;
  padding: 3px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 62px;
}

.navbar-brand img {
  height: 63px;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}

/* SOCIAL MEDIA BUTTONS */

#nav-social {
  height: 62px;
  display: inline;
}

#nav-social i {
  font-size: 3em;
  color: #785828;
  border-top: solid 5px transparent;
  position: relative;
  padding: 10px 15px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  margin:0;
}



@media (max-width: 991px) {
  #nav-social i {
    padding: 10px 10px;
   }
}


#nav-social a:hover i {
      -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}

#nav-social a:hover {
  text-decoration: none;
}


/* HOMEPAGE-HEADER */
#homepage-header {
  background: url('../img/desk2.jpg') center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  border-bottom: solid 2px #785828;
  height: 93vh;
}

#homepage-header .btn {
  border: none
  background-color: none;
  color: #785828;
  margin-top: 1em;
  font-size: 1.2em;
    -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@media (max-width: 767px) {
  #homepage-header .btn {
    font-size: 0.7em;
  }
}

#homepage-header .btn:hover {
  color: #ef8222;
  background-color: none;
}

#homepage-header .icon-background {
  color: #fff;
  opacity: 0.5;
    -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#homepage-header .btn:hover .icon-background {
  opacity: 0.6;
}


#homepage-header img {
  width: 80vw;
  max-width: 960px;
}

/* Header-Bildchen f. Abschnitte auf Homepage */
.yoga-header {
  background: url('../img/yoga.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  height: 230px;
    opacity: .7;
}

.blog-header {
  background: url('../img/blog.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  opacity: .7;
  height: 230px;
  margin-bottom: 0px;
}




/* FEATURES */

#features p {
  font-weight: bold;
  font-size: 15px;
  display: inline-block;
}


/* BLOG-PREVIEW auf index */
#blog-preview h3 {
  margin: 0px;
}

#blog-preview p {
  margin-top: 0px;
  margin-bottom: 5px;
}

#blog-preview div.col-md-6 {
  min-height: 550px;
  min-width: 50%;
}

@media (max-width: 767px) {
  #blog-preview div.col-md-6 {
    min-height: none;
  }
}

/* BLOG-Seite: Übersicht */ 

#blog-listing-medium .post {
  background-color: #fff;
  padding: 15px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  #blog-listing-medium .post {
    padding: 7px;
  }
}


div#content {
  background-color: #FFFAF6;
  padding-top: 10px;
}

/* Thumbnails für Artikel */
#blog-listing-medium .post .image {
  border: solid 2px #785828;
  margin: 0px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#blog-listing-medium .post .image:hover  {
  border: solid 6px #ef8222;
  margin: 0px;
}

#blog-listing-medium .post h1 {
  margin-top: 10px;
  margin-bottom: 3px;
  font-size: 35px;
}

@media (max-width: 767px) {
  #blog-listing-medium .post h1 {
    font-size: 25px;
  }
}

#blog-listing-medium .post h1 a {
  text-decoration: none;
}

.author-category {
  float: left;
  color: #888888;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 0.06em;
  font-style: normal;
  width: 100%;
  margin: 0px;
}

.author-category a {
  color: #888888;
}

#blog-listing-medium .post p {
  font-size: 16px;
}


/* ARTIKEL-ANSICHT */
.meta-article {
  border-bottom: 1px solid #eeeeee;
  font-size: 14px;
}

.meta-article a {
  color: #888888;
}

#blog-post {
  text-align: justify;
  max-width: 870px;
  float: none;
  margin: auto;
  font-size: 1.5em;
  letter-spacing: 0.03em;
  padding: 1em;
}

@media (max-width: 767px) {
  #blog-post {
     font-size: 1.2em;
     letter-spacing: 0.02em;
     line-height: 1.4em;
   }
 }


#blog-post h2 {
  color: #785828;
  font-size: 2.5em;
  margin-top: 0.5em;
  font-weight: 200;
  letter-spacing: 0.08em;
  text-shadow: 2px 2px 5px #888888;
  text-transform: lowercase;
  margin-bottom: 0.5em;
}

@media (max-width: 767px) {
  #blog-post h2 {
     font-size: 2em;
   }
 }


#blog-post h3 {
  color: #785828;
  font-weight: 400;
  text-transform: lowercase;
  letter-spacing: 0.08em;
}

@media (max-width: 767px) {
  #blog-post h3 {
     margin: 0.4em;
     font-size: 1.2em;
   }
 }


blockquote {
  padding: 10px 80px;
  margin: 0 0 20px;
  font-size: 15px;
  font-style: italic;
  color: #785828;
  line-height: 22px;
  border: none;
}

#post-content {
  float: center;
}

#post-content h2, h3, h4 {
  text-align: center;
}

#post-content li {
  margin-top: 7px;
}

/* Bild im Artikel*/
#post-content img {
  max-width: 100%;
  max-height: 800px;  
  border: solid 1px #785828;
}


/*Bildunterschrift*/
figcaption {
  font-size: 17px;
  color: #785828;
  font-style: italic;
  text-align: right;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 900;
  line-height: 1.1;
  margin-top: 5px;
}

/*Sidebar in Artikel-Ansicht*/
.sidebar {
  position: fixed;
  display: inline;
  height: 100%;
  padding-bottom: 10px;
}

/* SHARE-Buttons am Ende eines Artikels */

div.share {
  position: relative;
}

div.share-main {
  margin-bottom: 10px;
  border: 3px solid #ef8222;
  position: relative;
  background: url('../img/share-bg.png') center center no-repeat;
  background-size: contain;
  top: 0px;
  left: 0px;
  height: 105px;
  width: 100%;
}

@media (max-width: 767px) {
  div.share-main {
     border: 1px solid #ef8222;
   }
 }


div.share-content {
  position: relative;
  left: 40%;
  top: 25%;
  max-width: 60%;
  text-align: center;
}

@media (max-width: 767px) {
  div.share-content {
     max-width: 40%;
     top: 15%;
     left: 50%;
   }
 }

#blog-post #share a {
  font-size: 45px;
  color: #785828;
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 767px) {
  #blog-post #share a {
    font-size: 25px;
    margin-left: 2px;
    line-height: 120%;
   }
 }

#blog-post #share a:hover {
  color: #ef8222;
  text-decoration: none;
    -webkit-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
/*SIDEBAR AUF BLOGSEITE */
.panel {
  margin-bottom: 20px;
  background-color: #ECECEC;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}
.panel.sidebar-menu { 
  background-color: transparent;
  margin: 0 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.panel-heading {
  text-align: center;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  padding: 15px 15px;
  white-space: nowrap;
}
.panel .panel-body li {
  font-weight: 300;
  font-size: 16px;
} 

.panel .panel-body li a {
  display: inline-block;
  padding: 5px;
  border-radius: 0;
  margin: 5px 5px 5px 0;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-weight: 700;
  font-size: 14px;
}

.panel .panel-body h5 {
  margin-top: 2px;
  text-align: justify;
}

.panel .panel-body p {
  display: inline-block;
  text-align: justify;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 14px;
}

.thumbnail {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.thumbnail img {
  object-fit: cover;
}

@media (max-width: 767px) {
  .panel .panel-heading, .panel-body {
    text-align: center;
  }
}


#connect-sidebar {
  text-align: center;
  white-space: nowrap;
}

#connect-sidebar i {
  font-size: 35px;
  color: #785828;
}

#kurzbio {
  background: url('../img/texture2.png') center center repeat; /*pattern from subtlepatterns.com */
  border: 1px solid #785828;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

#kurzbio h3 {
  border-bottom: none;
  font-style: italic;
}

#kurzbio h4 {
  text-align: center;
  font-style: none;
}

#kurzbio p {
  text-align: center;
  font-size: 13px;
  line-height: 17px;
  color: #785828;
  margin-top: 5px;
}

#kurzbio .author-location {
  font-size: 14px;
  font-style: italic;
  text-align: center; 
  color: #888888;
  margin-top: 0px;  
}

#kurzbio img {
  max-width: 150px;
  margin: auto;
  margin-top: 0px;
}

/* START */

.start {
  position: relative;
  background: url('../img/texture.png') center center repeat;
  border-bottom: solid 2px #888880;
  padding-top: 50px;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.start div.container {
  width: 90%;
}

#start2, #start4 {
  background: url('../img/texture3.png') center center repeat;
}

#start4 {
  padding-bottom: 5em;
  border-bottom: none;
}

@media (max-width: 767px) {
  #start4 {
    padding-bottom: 1em;
  }
}

.start .dark-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ef8222;
  opacity: 0.1;
  filter: alpha(opacity=20);
}


@media (max-width: 1280px) {
  .start {
    text-align: center !important;
  }
}

@media (min-width: 1280px) {
  .start .right {
    text-align: right;
  }
}

.start h1 {
  font-size: 4vw;
  font-weight: 200;
  letter-spacing: 0.08em;
  padding-bottom: 0.5em;
  text-shadow: 2px 2px 5px #888888;
  color: #785828;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: lowercase;
}

@media (max-width: 991px) {
  .start h1 {
    font-size: 3em;
  }
}

.start h2 {
  margin: 0;
}


.start ul,
.start p {
  font-size: 1.7em;
  font-weight: 500;
  padding: 0;
  text-transform: lowercase;
  letter-spacing: 0.08em;
  margin-top: 0em;
}
@media (max-width: 991px) {
  .start ul,
  .start p {
    font-size: 1.3em;
    line-height: 1.3em;
  }
}

.start ul {
  list-style: none;
}

.start ul li::before {
  content: " \25AA"; 
  color: #785828; 
  font-weight: bold; 
  display: inline-block; 
  width: 0.8em; 
}

.start .btn {
  border: none
  background-color: none;
  color: #785828;
  margin-top: 0.7em;
  transition: 0.5s;
}

.start .btn:hover {
  color: #fff;
  background-color: none;
}


.start .icon-background {
  color: #785828;
  opacity: 0.3;
  transition: 0.5s;
}

.start .btn:hover .icon-background {
  opacity: 0.6;
}


.start img
{
  border: solid 1px #785828;  
  margin-bottom: 0.5em;
}

p.lead {
  text-align: center;
}



#namaste {
  text-align: center;
  margin-bottom: 0.6em;
  font-size: 6em;
  font-weight: 200;
  letter-spacing: 0.08em;
  padding-bottom: 0.5em;
  font-style: italic;
  text-shadow: 2px 2px 5px #888888;
  border-bottom: solid 2px #785828;
}

@media (max-width: 991px) {
  #namaste {
    font-size: 4em;
  }
}

/* CONNECT */

#connect {
  border-top: 3px solid #785828;
  padding-top: 2em;
  padding-bottom: 0;
}

#connect h1 {
  font-size: 7em;
  font-weight: 200;
  letter-spacing: 0.08em;
  text-shadow: 2px 2px 5px #888888;
  font-weight: 200;
  color: #785828;
  margin-top: 0;
  text-transform: lowercase;
  border-bottom: solid 2px #785828;
}

@media (max-width: 991px) {
  #connect h1 {
    font-size: 4em;
    border-bottom: solid 1px #785828;
  }
}

#connect h3 {
   font-weight: normal;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 0.08em;
  color: #555555;
  text-align: center;
  text-transform: lowercase;
}


@media (max-width: 991px) {
  #connect h3 {
    font-size: 1em;
  }
}



#connect .dark-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.5;
  filter: alpha(opacity=50);
}


#connect i {
  font-size: 5em;
  border: none;
  color: #785828;
}


#connect a:hover {
  text-decoration: none;
}

.connect-box:hover {
  -webkit-transform: translateY(-12px);
  transform: translateY(-12px);
}

#connect .connect-box:hover h3 {
  font-weight: 600;
}


.connect-box {
  text-align: center;
  margin-bottom: 40px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}



/* BREADCRUMBS */
#heading-breadcrumbs {
  background: url('../img/texture.png') center center repeat; /*pattern from subtlepatterns.com */
  padding: 5px 0;
  margin-bottom: 0px;
  border-bottom: solid 1px #785828;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 0.08em;
}

#heading-breadcrumbs.no-mb {
  margin-bottom: 0;
}
#heading-breadcrumbs h1 {
  font-size: 5em;
  font-weight: 200;
  letter-spacing: 0.08em;
  text-shadow: 2px 2px 5px #888888;
  color: #785828;
  text-transform: lowercase;
}
@media (max-width: 767px) {
    #heading-breadcrumbs h1 {
      font-size: 3.5em;
    }
  }

#heading-breadcrumbs p {
  color: #333333;
  font-size: 2em;
  font-weight: bold;
}
@media (max-width: 991px) {
  #heading-breadcrumbs p {
    text-align: center;
    font-size: 19px;
  }
}
#heading-breadcrumbs ul.breadcrumb {
  margin-top: 5px;
  margin-bottom: 0;
}



.breadcrumb {
  padding: 20px 0;
  margin-bottom: 20px;
  background-color: transparent;
  border-radius: 0;
  text-align: right;
}
.breadcrumb > li + li:before {
  content: ">\00a0";
  color: #555555;
}
.breadcrumb > .active {
  color: #999999;
}
@media (max-width: 991px) {
  .breadcrumb {
    padding: 20px 0;
    text-align: center;
  }
}

.bar.background-pentagon {
  background: url('../img/texture.png') center center repeat;
  border-top: solid 1px #785828;
}

.shadow
{
    display:block;
    position:relative;
}

.shadow:before
{
    display:block;
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    -moz-box-shadow:inset 0px 0px 20px 10px rgba(255, 255, 255, .8);
    -webkit-box-shadow:inset 0px 0px 20px 10px rgba(255, 255, 255, .8);
    box-shadow:inset 0px 0px 20px 10px rgba(255, 255, 255, .8);
    border: solid 2px #fff;
}



/* FOOTER */

#footer {
  border-top: solid 2px #785828;
}

#copyright a {
  font-weight: 600;
  line-height: 2em;
}

#copyright {
  padding: 5px 0;
  font-size: 12px;
  line-height: 1em;
}


/* FEATURED-POSTS BOX */

.featured .read-more {
  margin-top: 10px;
}

.featured .read-more .btn {
  font-size: 15px;
}

.featured img {
  max-height: 341px;
  width: 512px;
  border: solid 3px #785828;
}
.featured h1 {
  font-size: 38px;
}
.featured p.subtitle {
  font-style: italic;
}

/* KONTAKT-SEITE */
/*Formspree-Formular*/

#contactform form {
  margin-top: 15px;
  padding-left: 20px;
}

#contactform textarea, button, input {
  border: 1px solid #785828;
  border-radius: 5px;
  outline: 0;
  width: 80%;
  padding: 15px 20px;
  margin-bottom: 10px;
  font-size: 0.8em;
}

#contactform textarea {
  height: 150px;
}

#contactform button {
    font-weight: 400;
  letter-spacing: 0.08em;
  color: #785828;
  font-size: 2em;
  background-color: rgba(0,0,0,0.1);
  padding: 0;
}

#contactform p.small {
  font-size: 0.8em;
  width: 80%;
  line-height: 110%;
}