
<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            {{ if eq .URL "/author/cale/" }}
                <h1>Blog-Posts von {{ .Title }}</h1>
            {{ else if eq .URL "/author/cindy/" }}
                <h1>Blog-Posts von {{ .Title }}</h1>
            {{ else }}
                {{ if .Params.banner }}
                    <div class="shadow">
                          <img src="{{ .Site.BaseURL}}img/blog/{{ .Params.banner }}" class="img-responsive" alt="{{ .Title }} Thumbnail">
                   </div>
                {{ end }}
            	<h1>{{ .Title }}</h1>
            {{ end }}
                <p>{{ .Params.subtitle }}</p>
            </div>
        </div>
    </div>
</div>
