<section class="bar background-pentagon no-mb" id="connect">
    <div class="container">
    	<div class="dark-mask"></div>
        <div class="row">
            <div class="col-md-12">
                        <div class="heading text-center">
                    		<h1>Get in touch</h1>
               			 </div>                       
            				{{ range .Site.Params.connect.list }}
			                <div class="col-md-3">
			                    <div class="box-simple">
			                    	{{ if in .name "Mail"}}
			                    	<a href="mailto:czazlzez@inszpiritzana.org" onmouseover="this.href=this.href.replace(/z/g,'');">
			                    	{{ else }}
			                      	<a href="{{ .link }}">
			                      	{{ end }}
			                      		<div class="icon">
			                      			{{ if in .name "Instagram" }}
			                      				<span id="instagram-box">
                									<i class="fa fa-instagram" aria-hidden="true"></i>
            									</span>
			                      			{{ else }}
				                            	<i class="fa fa-{{ .icon }}"></i>
			                      			{{ end }}
				                        </div>
				                        <h3>{{ .name }}</h3>
			                        </a>
			                    </div>
			                </div>
		                	{{ end }}
                    </div>
                </div>
                </div>
            </div>
</section>