<section class="bar background-pentagon no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                        <div class="heading text-center">
                    		<h2>{{ .Site.Params.connect.title }}</h2>
               			 </div>                       
            {{ range .Site.Params.connect.list }}
			                <div class="col-md-2">
			                    <div class="box-simple">
			                    	{{ if in .name "Mail"}}
			                    	<a href="mailto:czazlzez@inszpiritzana.org" onmouseover="this.href=this.href.replace(/z/g,'');">
			                    	{{ else }}
			                      	<a href="{{ .link }}">
			                      	{{ end }}
			                      		<div class="icon">
				                            <i class="fa fa-{{ .icon }}"></i>
				                        </div>
				                        <h3>{{ .name }}</h3>
				                        <p>{{ .description }}</p>
			                        </a>
			                    </div>
			                </div>
		                {{ end }}

                    </div>
                </div>
                </div>
            </div>
</section>