{{ if gt (len .Site.Data.features) 0 }}
<section class="bar background-pentagon no-mb" id="dassindwir">
    <div class="container">

        <div class="col-md-12">
        <a href="{{ .Site.BaseURL }}/blog/">
            <div class="heading text-center">
                <h2>Das Team hinter inspiritana.org:</h2>
            
            </div></a>
            <!-- *** BLOG HOMEPAGE *** -->

               
            <div class="row">
               
            {{ range .Site.Data.dassindwir }}
                <div class="col-md-3 col-sm-3">
                    <div class="box-image-text">
                        <div class="top">
                            <div class="image">
                                <img src="{{ .Site.BaseURL}}img/{{ .avatar }}.png" class="img-responsive" alt="" >
                            </div>
                        </div>

                        <div class="content">
                            <h4>{{ .name }}</h4>
                            <p class="intro">{{ .description }}</p>
                        </div>
                    </div>
                </div>
            {{ end }}

            </div>
            <!-- /.row -->

            <!-- *** BLOG HOMEPAGE END *** -->

        </div>
    </div>
    <!-- /.container -->
</section>
{{ end }}
<!-- /.bar -->
