<section class="bar background-pentagon no-mb" id="dassindwir">
    <div class="container">

        <div class="col-md-12">
        <a href="{{ .Site.BaseURL }}/blog/">
            <div class="heading text-center">
                <h2>Das Team hinter inspiritana.org:</h2>
            
            </div></a>
            <!-- *** BLOG HOMEPAGE *** -->

               
            <div class="row">
               
                <div class="col-md-4 col-sm-4">
                    <div class="box-image-text">
                        <div class="top">
                            <div class="image">
                                <img src="{{ .Site.BaseURL}}img/test.png" class="img-responsive" alt="" >
                            </div>
                        </div>

                        <div class="content">
                            <h4>Cale, der Rationale</h4>
                            <p class="intro">Unkonventioneller, eigensinniger Reise-Junkie, der die Freiheit liebt und sich für Philosophie, Yoga und Schreiben begeistert.</p>
                            <p class="read-more">
                              <a href="google.de" class="btn btn-template-main">Weiterlesen</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="box-image-text">
                        <div class="top">
                            <div class="image">
                                <img src="{{ .Site.BaseURL}}img/test.png" class="img-responsive" alt="" >
                            </div>
                        </div>

                        <div class="content">
                            <h4>Eddie, der Gemächliche</h4>
                            <p class="intro">Ehemaliger Krankentransport aus den 80er Jahren, der heute die beiden Verrückten am liebsten off-road zum Ziel bringt.</p>
                            <p class="read-more">
                              <a href="google.de" class="btn btn-template-main">Weiterlesen</a>
                            </p>
                        </div>
                    </div>
                </div>



                <div class="col-md-4 col-sm-4">
                    <div class="box-image-text">
                        <div class="top">
                            <div class="image">
                                <img src="{{ .Site.BaseURL}}img/test.png" class="img-responsive" alt="" >
                            </div>
                        </div>

                        <div class="content">
                            <h4>Cindy, die Achtsame</h4>
                            <p class="intro">Eine winzig kleine, niedliche Mieze, die so klein ist, dass die meisten sie manchmal gar nicht sehen können.</p>
                            <p class="read-more">
                              <a href="google.de" class="btn btn-template-main">Weiterlesen</a>
                            </p>
                        </div>
                    </div>
                </div>


                </div>

            </div>
            <!-- /.row -->

            <!-- *** BLOG HOMEPAGE END *** -->

        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.bar -->
