<section class="bar background-pentagon no-mb" id="dates">
    <div class="container">
    	<div class="dark-mask"></div>
        <div class="row">
            <div class="col-md-12">
                        <div class="heading text-center">
                    		<h2>Upcoming events</h2>
               			 </div>                       
            				
			                <div class="col text-center"> 
			                    	 <ul>
									    <li><b>23rd July </b><br/>
									    <a href="http://yoga-juliajaeger.de/">Yoga-Studio Haus InnHöhe</a> in Wasserburg a. Inn (München)<br/> 
									    19.00 - 20.30 - Santur meditation + concert<br/></li>
									    <li><b>25th + 26th July</b><br/>
									    	<a href="https://float-yoga.de/">Yoga-Studio Float</a> in Ludwigsburg (Stuttgart)<br/>
									    25th: 21.15 - 22.00 - Santur concert</br>
									    26th: 20.30 - 22.00 - Kirtan (mantra singing) with Amelie Schubert</br></li>
										<li><b>2nd & 3rd August</b><br/>
											<a href="https://www.klangtherapie-festival.de/">Klangtherapie Festival</a> (Fränkische Schweiz)<br/>
									    2nd: 14.00 - 15.00 - Vortrag: "Wieso wir Bewusstsein brauchen"</br>
										3rd: 10.00 - 11.30 - Workshop: Ashtanga Vinyasa Yoga</br></li>
										<li><b>9th August</b><br/>
											<a href="http://ancient-trance.de/">Ancient Trance Festival</a> (Leipzig)<br/>
									    17.00 - 18.00 - Santur concert</br></li>
									  </ul>
			                </div>
		             
                    </div>
                </div>
                </div>
            </div>
</section>