<section class="bar no-mb" id="homepage-header">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="box-image-text">
                        <img src="{{ .Site.BaseURL }}img/logo-full.png" alt="inspiritana.org Logo - Get inspired & share the spirit">
                    </div><br/>

                    <p class="text-center">
                        <a href="#start1" class="btn">
                            <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x icon-background"></i>
                              <i class="fa fa-angle-double-down fa-stack-1x"></i>
                            </span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
</section>