<section class="bar background-pentagon no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                        <div class="heading text-center">
                    		<h2>inspiritana auf instagram</h2>
               			 </div>                       
			                    	<!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/72be3fc8a8bd53e8b303f082ebc1f25a.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>

                    </div>
                </div>
                </div>
            </div>
</section>