<section class="bar background-pentagon no-mb" id="insta">
    <div class="container">
    	<div class="dark-mask"></div>
        <div class="row">
            <div class="col-md-12">
			                <div class="text-center"> 
			                    		<div class="item">
                                <a href="https://instagram.com/inspiritana.diaries"><img class="img-responsive" src="/img/instagram.png" alt="inspiritana instagram teaser"></a>
                            </div>
			                </div>
		             
                    </div>
                </div>
                </div>
            </div>
</section>