<section class="bar background-pentagon no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                        <div class="heading text-center">
                    		<h2>inspiritana auf instagram</h2>
               			 </div>                       
			                    	<!-- Instagram Widget Embed Start -->
<div class="instawidget" data-user-name="inspiritana" data-amount="8" data-grid="4"></div><script type="text/javascript" src="//www.stadget.com/cdn/widget-init.min.js"></script>
<!-- Instagram Widget Embed End -->

                    </div>
                </div>
                </div>
            </div>
</section>