<!--data-offset von 200 auf 5 geändert, um Navbar-Transformation beim Scrollen smoother zu machen -->
<div class="navbar-affixed-top">

    <div class="navbar navbar-default yamm" role="navigation" id="navbar">

        <div class="container">
            <div class="navbar-header" id="nav-social">
                                    
                           <ul class="nav navbar-nav navbar-left"> 
                                {{ range .Site.Params.connect.list }}
                                    <li class="dropdown">
                                        {{ if in .name "Mail"}}
                                        <a href="mailto:czazlzez@inszpiritzana.org" onmouseover="this.href=this.href.replace(/z/g,'');">
                                        {{ else }}
                                        <a href="{{ .link }}">
                                        {{ end }}      
                                                    <i class="fa fa-{{ .icon }}"></i>     
                                        </a>
                                    </li>
                                {{ end }}
                            </ul>
            </div>
            <!--/.navbar-header -->

            <div class="navbar-collapse collapse" id="navigation">
                <ul class="nav navbar-nav navbar-right">
                    {{ $root := . }}
                    {{ range .Site.Params.menu }}
                    {{ if eq .name "Blog" }}
                        <li class="dropdown" id="nav-blog">
                    {{ else }}
                        <li class="dropdown">
                    {{ end }}
                            <a href="{{ .url | absURL }}">{{ .name }}</a>
                        </li>
                    {{ end }}
                </ul>
            </div>
            <!--/.nav-collapse -->

        </div>
    </div>
    <!-- /#navbar -->

</div>

<!-- *** NAVBAR END ***-->
