{{ if gt (len .Site.Data.start) 0 }}
    {{ range sort .Site.Data.start "weight" }}
    {{ $nummer := .weight }}
<section class="start" id="start{{ $nummer }}">   
        <div class="container">
            <div class="row">
                    {{ if .right }}
                    <div class="dark-mask"></div>
                    <div class="col-lg-9">
                        <img class="img-responsive" src="{{ .image }}" alt="">
                    </div>
                    <div class="col-lg-3 right">
                        </div>
                        <h1>{{ .title }}</h1>
                        <p class="subtitle">{{ .description | safeHTML }}</p>
                    </div>
                    {{ else }}
                    <div class="col-lg-3 right">
                        <h1>{{ .title }}</h1>
                        <p class="subtitle">{{ .description | safeHTML }}</p>
                    </div>
                    <div class="col-lg-9">
                        <img class="img-responsive" src="{{ .image }}" alt="">
                    </div>
                    {{ end }}


                {{ if lt $nummer 4 }}
                <div class="col">
                    <p class="text-center">
                        <a href="#start{{add $nummer 1}}" class="btn">
                            <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x icon-background"></i>
                              <i class="fa fa-angle-double-down fa-stack-1x"></i>
                            </span>
                        </a>
                    </p>
                </div>
                {{ end }}
            </div>
        </div>
</section>
{{ end }}
{{ end }}