{{ if gt (len .Site.Data.start) 0 }}
    {{ range sort .Site.Data.start "weight" }}
    {{ $nummer := .weight }}
<section class="start" id="start{{ $nummer }}">   
        <div class="container">
            <div class="row">
                    {{ if .right }}
                    <div class="dark-mask"></div>

                    <div class="col-lg-9">   
                        <div class="homepage owl-carousel">
                            <div class="item">
                                <img class="img-responsive" src="{{ .image }}" alt="">
                            </div>
                            {{ if .image2 }}
                            <div class="item">
                                <img class="img-responsive" src="{{ .image2 }}" alt="">
                            </div> 
                            {{ end }}                  
                        </div>
                    </div>

                    <div class="col-lg-3 right">
                        </div>
                        <h2>{{ .title }}</h2>
                        <p class="subtitle">{{ .description | safeHTML }}</p>
                    </div>

                    {{ else }}

                    {{ if eq $nummer 1 }}
                    <div class="col">
                         <h1 id="namaste">Welcome, you miraculous soul.</h1>
                    </div>
                    {{ end }}

                    <div class="col-lg-3 right">
                        <h2>{{ .title }}</h2>
                        <p class="subtitle">{{ .description | safeHTML }}</p>
                    </div>

                    <div class="col-lg-9">   
                        <div class="homepage owl-carousel">
                            <div class="item">
                                <img class="img-responsive" src="{{ .image }}" alt="">
                            </div>
                            {{ if .image2 }}
                            <div class="item">
                                <img class="img-responsive" src="{{ .image2 }}" alt="">
                            </div> 
                            {{ end }}                  
                        </div>
                    </div>    
                    {{ end }}


                {{ if lt $nummer 5 }}
                <div class="col hidden-xs">
                    <p class="text-center">
                        <a href="#start{{add $nummer 1}}" class="btn">
                            <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x icon-background"></i>
                              <i class="fa fa-angle-double-down fa-stack-1x"></i>
                            </span>
                        </a>
                    </p>
                </div>
                {{ end }}
            </div>
        </div>
</section>
{{ end }}
{{ end }}