
    <div class="row" id="contactform">
      
        <div class="col-md-12"> 
            <form name="contact" method="POST" data-netlify="true" netlify-honeypot="hpfield">
                        <div class="hpot hidden">
                            <label>Leave this field empty: <input name="hpfield"></label>
                        </div>
                
                        <input type="text" name="name" required="" placeholder="Your name" />  

                        <input type="email" name="email" required=""  placeholder="Your email address" />
              
                        <textarea name="message" required=""  placeholder="Message"></textarea>
                        
                        <button type="submit"><i class="fa fa-envelope-o"></i></button>
                        
                        <p class="small">Your data entered here will be used exclusively for processing your inquiry and stored and processed for this purpose. By filling out and sending our online form you accept our <a href="{{ .Site.BaseURL}}privacy">privacy policy</a>. All information is voluntary. You can revoke your consent to data storage at any time by sending an e-mail to us with your objection.</p>

            </form>
        </div>

                         
    </div>
