<form method="POST" id="contactform">          
    <div class="form-group">
        <input type="text" class="form-control" name="name" id="name" placeholder="Dein Name" required>
    </div>

    <div class="form-group">
        <input type="email" class="form-control" name="_replyto" id="email" placeholder="Deine E-Mail-Adresse" required>
    </div>
                       
    <div class="form-group">
        <textarea id="message" class="form-control" name="message" placeholder="Deine Nachricht an inspiritana.org" required></textarea>
    </div>
                
    <button type="submit" class="btn btn-template-main" value="Send"><i class="fa fa-envelope-o"></i>Nachricht senden</button>
    
    <input type="hidden" name="_next" value="https://inspiritana.org/contact/" />
    <input type="text" name="_gotcha" style="display:none" />

</form>

<p>Mit dem Absenden Ihrer Anfrage erklären Sie sich mit der Verarbeitung Ihrer angegebenen Daten zum Zweck der Bearbeitung Ihrer Anfrage einverstanden (<a href="https://inspiritana.org/datenschutz">Datenschutzerklärung und Widerrufshinweise</a>)“.</p>

<script>
    var contactform =  document.getElementById('contactform');
    contactform.setAttribute('action', '//formspree.io/' + 'kontakt' + '@' + 'inspiritana' + '.' + 'org');
</script>

<br/>