
    <div class="row" id="contactform">
      

            <form name="contact" method="POST" data-netlify="true">
                
                    <div class="col-md-2">
                        <label>Your name: 
                    </label></div>
                    <div class="col-md-4"><input type="text" name="name" />  
                     </div>
                    

                    <div class="col-md-2">
                     
                        <label>Your email:</label>
                    </div>

                    <div class="col-md-4"> 
                        <input type="email" name="email" />

                    </div>
                   

                    <div class="col-md-2">
                             <label>Message: </label>
                    </div>

                             <div class="col-md-10">
                                <textarea name="message"></textarea>
                            </div>
                    
                    <div class="col-md-12">
                             <p>
                                <button type="submit">Send</button>
                             </p>
                    </div>

            </form>

                            <p>Mit dem Absenden Ihrer Anfrage erklären Sie sich mit der Verarbeitung Ihrer angegebenen Daten zum Zweck der Bearbeitung Ihrer Anfrage einverstanden (<a href="https://inspiritana.org/datenschutz">Datenschutzerklärung und Widerrufshinweise</a>)“.</p>
    </div>
