<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>
        <div class="test">{{ partial "breadcrumbs.html" . }}</div>

        <div id="content">
            <div class="container">
                <div class="row">
                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-9" id="blog-listing-medium">

                       {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}
                        {{ range $paginator.Pages }}
                        <section class="post">
                            <div class="row">
                                <div class="col-md-12">
                                  <div class="image">
                                      <a href="{{ .Permalink }}">
                                          {{ if .Params.banner }}
                                          <img src="{{ .Site.BaseURL}}img/blog/{{ .Params.banner }}" class="img-responsive" alt="{{ .Title }} Thumbnail">
                                          {{ else }}
                                          <img src="{{ .Site.BaseURL}}img/placeholder.png" class="img-responsive" alt="">
                                          {{ end }}
                                      </a>
                                  </div>
                                </div>

                                <div class="col-md-12">
                                
                                    <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
                                    <div class="clearfix">
                                        <p class="author-category">
                                          {{ if isset .Params "author" }}
                                          <i class="fa fa-user"></i>
                                           <a href="{{ $.Site.BaseURL }}author/{{ .Params.author | lower }}">{{ .Params.author }}</a>
                                          {{ end }}
                                           | Wörter: {{ .WordCount }} |
                                           {{ if isset .Params "categories" }}
                                                {{ $categoriesLen := len .Params.categories }}
                                                {{ if gt $categoriesLen 0 }}
                                                   <i class="fa fa-folder-open"></i>
                                                    {{ range $k, $v := .Params.categories }}
                                                    <a href="{{ $.Site.BaseURL }}categories/{{ . | urlize | lower }}">{{ . }}</a>
                                                    {{ if lt $k (sub $categoriesLen 1) }}&middot;{{ end }}
                                                    {{ end }}
                                                {{ end }}
                                          {{ end }}
                                            | 
                                          {{ if isset .Params "tags" }}
                                                {{ $tagsLen := len .Params.tags }}
                                                {{ if gt $tagsLen 0 }}
                                                    <i class="fa fa-tags"></i>
                                                    {{ range $k, $v := .Params.tags }}
                                                    <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize | lower }}">{{ . }}</a>
                                                    {{ if lt $k (sub $tagsLen 1) }}&middot;{{ end }}
                                                    {{ end }}
                                                {{ end }}
                                          {{ end }}
                                       
                                            <a href="{{ .Permalink }}" class="pull-right"><i class="fa fa-calendar"></i>
                                            <time class="date-comments post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                                                {{ .Date.Day }}. {{ index $.Site.Data.monate (printf "%d" .Date.Month) }} {{ .Date.Year }}
                                            </time></a>
                                        </p>
                                    </div>
                                    <p class="intro">{{ .Summary }}</p>
                                    <p class="read-more"><a href="{{ .Permalink }}" class="btn btn-template-main">Weiterlesen <i class="fa fa-long-arrow-right"></i></a>
                                    </p>
                                </div>
                            </div>
                        </section>
                        {{ end }}

                        <ul class="pager">
                            {{ if .Paginator.HasNext }}
                            <li class="previous"><a href="{{ .Site.BaseURL }}{{ .Paginator.Next.URL }}"><i class="fa fa-angle-double-left"></i> Zurück</a></li>
                            {{ else }}
                            <li class="previous disabled"><a href="#"><i class="fa fa-angle-double-left"></i> Zurück</a></li>
                            {{ end }}

                            {{ if .Paginator.HasPrev }}
                            <li class="next"><a href="{{ .Site.BaseURL }}{{ .Paginator.Prev.URL }}">Vor <i class="fa fa-angle-double-right"></i></a></li>
                            {{ else }}
                            <li class="next disabled"><a href="#">Vor <i class="fa fa-angle-double-right"></i></a></li>
                            {{ end }}

                          
                        </ul>
                    </div>
                    <!-- /.col-md-9 -->

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN ***
       _________________________________________________________ -->

                    <div class="col-md-3">
                      
                        <!-- *** MENUS AND WIDGETS *** -->

                        {{ partial "sidebar.html" . }}

                        <!-- *** MENUS AND FILTERS END *** -->

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
       

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
